<!DOCTYPE html>
<html>
    <head>
<title>ERROR</title>
<link rel="stylesheet" href="CSS/style.css">
<link rel="icon" href="images/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{>errors}}
        </div>
        {{>footer}}
    </body>
</html>