<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
<link rel="stylesheet" href="CSS/style.css">
<link rel="icon" href="images/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>{{helpText}}</h1>
        </div>
    {{>footer}}
    </body>
</html>