<!DOCTYPE html>
<html>
    <head>
       <title>Welcome</title>
       <link rel="stylesheet" href="CSS/style.css">
       <link rel="icon" href="images/weather.png">
       

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Use this site to get weather details</p>
        <form>
            <input placeholder="Address">
            <button>Search</button>
        </form>
          <br>
        <p id='msg1'></p>
        <p id="msg2"></p>
        </div>
        {{>footer}}
        <script src="/js/first.js"></script>
    </body>
</html>